<h1><%=@members.count%> <%= @nation %> Members </h1>


  <% @members.each do |member| %>
    <ul class= "member">
      <h2 class="name"><%= member[:name]%></h2>
      <h4 class="photo">Photo:</h4> <img src=<%= member[:photoUrl] if !nil %>></p>
      <h4 class="affiliation">Affiliation:</h4> <p><%= member[:affiliation]%></p>
      <h4 class="enemies">Enemies:</h4> <p><%= member[:enemies]%></p>
      <h4 class="allies">Allies:</h4> <p> <%= member[:allies]%></p>
    </ul>
  <% end %>
